@import "../../styles/index";

.message-text {
    &__content {
        @include type ($line-height: 24 / 16);
        display: block;
        width: 100%;
    }
    background-color: rgb(247, 215, 250, 0.3);
    width: max-content;
    border-radius: 20%;

}