@import "../../styles/index";

.chat-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: 100vh;
  width: calc(100% - #{2 * $size-wrapper-margin});
  margin: 0 auto;

  &__title {
    @include type($font-size: 4rem, $font-weight: 700, $font-family: 'WaltographRegular');
    flex: 0 0 auto;
    margin: 24px 0;
    text-align: center;
    text-shadow: 1px 1px 0px #957dad,
    1px 2px 0px #957dad,
    1px 3px 0px #957dad,
    1px 4px 0px #957dad,
    1px 5px 0px #957dad,
    1px 6px 0px #957dad,
    1px 10px 5px rgba(65, 24, 65, 0.979),
    1px 15px 10px rgba(65, 24, 65, 0.979),
    1px 20px 30px rgba(65, 24, 65, 0.979),
    1px 25px 50px rgba(249, 175, 249, 0.979),
  }

  &__message-list {
    flex: 1 1 auto;
    overflow-y: auto;
    width: 80%;
  }

  &__message-list-item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    flex: 0 0 auto;
    margin: 16px 0;
    width: 70%;
    margin-left: 15%
  }

 
  &__loader {
    background-color: #ecf0f1;;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
    z-index: 100000;
  }
  
  &__loader__element {
    border-radius: 100%;
    border: 5px solid rgb(66, 5, 61);
    margin: calc(5px*2);

  &:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  &:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  &:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }
  }
}

&__error {
  @include type($font-size: 6rem, $font-weight: 700, $font-family: 'WaltographRegular');
  text-align: center;
  }

&__img {
  width: 30%;
  height: 30%;
 }
}
 
