@import "../../styles/index";

.chat-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: 100vh;
  width: calc(100% - #{2 * $size-wrapper-margin});
  margin: 0 auto;

  &__title {
    @include type($font-size: 2.4rem, $font-weight: 700);
    flex: 0 0 auto;
    margin: 24px 0;
    text-align: center;
    text-shadow: 1px 1px 0px #957dad,
    1px 2px 0px #957dad,
    1px 3px 0px #957dad,
    1px 4px 0px #957dad,
    1px 5px 0px #957dad,
    1px 6px 0px #957dad,
    1px 10px 5px rgba(65, 24, 65, 0.979),
    1px 15px 10px rgba(65, 24, 65, 0.979),
    1px 20px 30px rgba(65, 24, 65, 0.979),
    1px 25px 50px rgba(249, 175, 249, 0.979),
  }

  &__message-list {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__message-list-item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    flex: 0 0 auto;
    margin: 16px 0;
  }
}