@import "../../styles/index";

.input-element {
    @include shape ('rounded-border');
    @include type ($font-size:3rem, $font-family: 'WaltographRegular');
    height: 35px;
    width: 100%;
    padding: 0 16px;
    border: 1px dotted #c487a4;
    background-color: #f0c5da;
    text-align: center;
    box-shadow: 1px 1px 0px #957dad,
    1px 2px 0px #957dad,
    1px 3px 0px #957dad,
    1px 4px 0px #957dad,
    1px 5px 0px #957dad,
    1px 6px 0px #957dad,
    1px 10px 5px rgba(219, 121, 204, 0.979),
    1px 15px 10px rgba(219, 121, 204, 0.979),
    1px 20px 30px rgba(219, 121, 204, 0.979),
    1px 25px 50px rgba(249, 175, 249, 0.979),
 
}

