@import "../../styles/index";

.join-page {
  @include type ($font-family: 'WaltographRegular');
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  

  &__title {
    @include type($font-size: 4.4rem, $font-weight: 700, $font-family: 'WaltographRegular');
    text-align: center;
    margin-bottom: 32px;
    display: block;
    width: 100%;
    text-shadow: 1px 1px 0px #957dad,
    1px 2px 0px #957dad,
    1px 3px 0px #957dad,
    1px 4px 0px #957dad,
    1px 5px 0px #957dad,
    1px 6px 0px #957dad,
    1px 10px 5px rgba(65, 24, 65, 0.979),
    1px 15px 10px rgba(65, 24, 65, 0.979),
    1px 20px 30px rgba(65, 24, 65, 0.979),
    1px 25px 50px rgba(65, 24, 65, 0.979),
  }

  &__form {
    display: block;
    width: 100%;
  }

  
}
