.message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: flex-start;
    animation: fade-in 2s ease;

    &__avatar {
      flex: 0 0 auto;
      margin-right: 8px;
      display: inline-block;  
    }
   
    &__text {
      flex: 1 1 auto; 
      display: block;
    }
  
  @keyframes fade-in {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
  } 